// *************************************
//
//   Content
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

.section--auto-height {
	background-color: #fff; @include cf(); padding: 0 6%;
}

.background--yellow {
	background-color: #FCE579;
}

.background--green {
	background: #65C192;
	h1,h2,h4,p{color: #fff}
}

.background--grey {
	background: #F2F1E9;
}

.wrapper {
	float: none; margin: 0 auto; text-align: left;
	&.vertical-middle{ }
}

.icon-ancla {font-size: 15px; margin-right: 10px}
.icon-warning {color: #D7793D; font-size: 26px; margin-right: 5px}

.message {
	padding: toem(15px) toem(10px) toem(15px) toem(35px); border-top: 1px #B4B1A5 dotted; border-bottom: 1px #B4B1A5 dotted;
	p{padding-bottom: 5px}
}

#main{
	display: -webkit-flex;display: flex;-webkit-flex-flow: row;flex-flow: row; padding-right: 6%; 
	& > aside {
		-webkit-flex: initial;flex: initial;max-width: 440px; width: 100%; background: #F2F1E9;
		nav > ul { 
			li:first-child {border-top:none}
			li:last-child {border-bottom:1px solid #C1C0B4;}
			li{ 
				border-top: 1px #C1C0B4 solid;
				&.open{
					& > ul {display:block;}
					& > a{
						&.toggle::after{border-width: 0 6px 6px 6px;border-color:  transparent transparent #302100 transparent; border-style: solid;}
					}
				}
				&.active{
					& > a {
						background: #E3E2D9;color: #301F00;
					}
				}
			}
			p{padding: 5% 5% 5% 21.5%; color: #838370}
			a{ 
				width: 100%; color: #301F00; padding:5% 5% 5% 21.5%; display: block;
				&:hover{background:#E3E2D9; color: #301F00}
				&.toggle::after{width: 0; content: ''; margin-top: 7px; display: inline-block; float: right;height: 0;border-style: solid;border-width: 6px 6px 0 6px;border-color: #302100 transparent transparent transparent;}
			}
			ul{
				padding-left: 18%;margin-bottom: 20px; display: none;
				li:last-child {border-bottom:none;}	
				
				a{padding: 4.5% 5% 4.5% 15px; font-size: 14px; color: #302100}
				ul { 
					padding-left: 12%;
					li{border:none;}
				}
			}
		}
	}
	& > article {
		flex:1; padding: 4% 0 10% 40px;
		& >ul{
			& > li{
				&:before{content: "\203A"; color: #FFBF0C; font-size: 30px;}
			}
			ul{
				margin-bottom: 40px;
				li{ margin-bottom: 10px }
			} 
			p{font-size: 14px; font-style: italic; display: inline-block;}
		}
		ul{margin-left: 50px}
	}
}