// *************************************
//
//   Content
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

.section--auto-height {
	background-color: #fff; @include cf(); padding: 0 6%;
}

.background--yellow {
	background-color: #FCE579;
}

.background--green {
	background: #65C192;
	h1,h2,h4,p{color: #fff}
}

.background--grey {
	background: #F2F1E9;
}

.wrapper {
	float: none; margin: 0 auto; text-align: left;
	&.vertical-middle{ }
}

#main{
	display: -webkit-flex;display: flex;-webkit-flex-flow: row;flex-flow: row; padding-right: 6%;
	& > nav {
		-webkit-flex: initial;
          flex: initial;
          max-width: 440px; min-width: 370px; background: #F2F1E9;
	}
	& > article {
		flex:1; padding: 4% 0 10% 15px;
	}
}