// *************************************
//
//   Header
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------


#main-header {
	height: 100px;
	.wrapper{display: flex; align-items: center;height: 100%;}
	a{flex:1;}
	.language {
		text-align: right;
		img{display: inline-block; vertical-align: bottom; margin-left: 10px;}
	}
	.logo {}	
}