// *************************************
//
//   Typography
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$font_weight-light: 300;
$font_weight-regular: $base_font-weight;
$font_weight-semibold: 600;
$font_weight-bold: 700;
$base_font-color: #545845;


// -------------------------------------
//   Helper classes
// -------------------------------------

%text--small {font-size: 80%}
%text--left {text-align: left}
%text--right {text-align: right}
%text--center {text-align: center}
%text--light {font-weight: $font_weight-light}
%text--bold {font-weight: $font_weight-bold}
%text--regular {font-weight: $font_weight-regular}
%text--uppercase {text-transform: uppercase}



// -------------------------------------
//   Base
// -------------------------------------

html, button {-webkit-font-smoothing: antialiased}

h5, h3, h4 { font-weight: $font_weight-regular; margin: 0;color: $base_font-color;}

h1, h2 { color: #302000; letter-spacing: -1px; margin: 0 0 2%}

h1{line-height: 100%; font-size: toem(42px); font-weight: $font_weight-semibold; margin-bottom: toem(15px) }

h2 {font-size: toem(22px);line-height: 100%; font-weight: $font_weight-regular; margin-top: toem(30px)}

h3 {font-size: toem(18px); line-height: 100%; letter-spacing: -1px; margin: 50px 0 10px; font-weight: $font_weight-semibold; color: #555845}

h4 {font-size: toem(22px); line-height: 120%; letter-spacing: -1px}

h5 {font-size: toem(18px); line-height: 130%; margin: 0}

h1,h2,h3 {
	a {
		font-size: 15px; font-family:"icon-font";display:inline-block;vertical-align:middle;line-height:1;font-weight:normal;font-style:normal; speak:none;text-decoration:inherit;text-transform:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; margin: -4px 10px 0 -23px;
		&:before{content:"\f101";}
	}
}

a{
	color: #33AC72;
	&:hover{color: #008046;}
}
code{font-family: "Courier"}
p {
	font-size: 1em; line-height: 160%; color: $base_font-color; padding-bottom: toem(25px);
	code{ 
		background: #FFEEA7; padding: toem(5px);
		&.link{
			background: #fff;color: #33AC72;
			&:hover{color: #008046;}
		}
	}
}

pre {
	background: #FFEEA7; padding: toem(15px) toem(20px); text-align: left; display: flex; display: -webkit-flex; margin: 0 0 toem(50px);
	code{font-size: 14px;}
}